<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zaptas.printindiamart">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/printindialogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/printindialogo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name="com.zaptas.printindiamart.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

        <activity android:name=".Profile_Update"/>
        <activity android:name=".Dashboard_Seller"/>

        <activity android:name=".startingscreen.SplashSreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".startingscreen.Welcome_Screen"></activity>
        <activity
            android:name=".SellerRegistration"
            android:label="Seller Registration">

        </activity>
        <activity
            android:name=".SellerLogin"
            android:label="Seller" />
        <activity
            android:name=".ViewAllProduct"
            android:label="Lead" />
        <activity
            android:name=".Search_Product"
            android:label="Search..." />
        <activity
            android:name=".ViewAllSubCategory"
            android:label="Lead" />

        <activity android:name=".SellerLead"/>

        <activity android:name=".ManageProduct"/>
        <activity android:name=".SellerProfile"/>
        <activity android:name=".AddProduct"/>

        <activity android:name=".startingscreen.Seller_OTP" />
        <activity android:name=".Seller_Psw" />
        <activity android:name=".Product_Detail" />
        <activity android:name=".ContactSeller" />
        <activity
            android:name=".Seller_Banner"
            android:label="Banner" />
        <activity
            android:name=".Seller_Add"
            android:label="Logo" />
        <activity
            android:name=".Change_Password"
            android:label="Change Password" />
        <activity
            android:name=".Update_Logo"
            android:label="New Logo" />

        <activity
            android:name=".Update_Banner"
            android:label="New Banner" />
        <activity
            android:name=".Edit_Banner"
            android:label="Edit Banner" />
        <activity android:name=".User_Mobile" />
        <activity android:name=".Forget_Password" />

        <activity android:name=".Purchase_Package" />

        <activity
            android:name=".SellerAbout_Us"
            android:label="About Us" />

        <activity android:name=".ContactUs" />

        <activity android:name=".AboutUs" />

        <activity android:name=".AboutUpdate" />

        <activity
            android:name=".Search_Activity"
            android:label="Search...." />

        <activity
            android:name=".Main2Activity_2"
            android:label="@string/title_activity_main2_2"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />


    </application>

</manifest>