<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zaptas.printindiamart">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/printindialogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/printindialogo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name="com.zaptas.printindiamart.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity android:name=".startingscreen.SplashSreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".startingscreen.Welcome_Screen"></activity>
        <activity android:name=".SellerRegistration"
            android:label="Seller Registration">

        </activity>
        <activity
            android:name=".SellerLogin"
            android:label="Seller" />
        <activity
            android:name=".seller.SellerProfile"
            android:label="Profile" />
        <activity
            android:name=".seller.SellerLead"
            android:label="Lead" />
        <activity
            android:name=".ViewAllProduct"
            android:label="Lead" />
        <activity
            android:name=".Search_Product"
            android:label="Search..." />
        <activity
            android:name=".ViewAllSubCategory"
            android:label="Lead" />
        <activity android:name=".startingscreen.Seller_OTP" />
        <activity android:name=".Seller_Psw" />
        <activity android:name=".Product_Detail" />
        <activity android:name=".ContactSeller" />
        <activity
            android:name=".seller.Seller_Banner"
            android:label="Banner" />
        <activity
            android:name=".seller.Seller_Add"
            android:label="Logo" />
        <activity
            android:name=".seller.Change_Password"
            android:label="Change Password" />
        <activity
            android:name=".seller.Update_Logo"
            android:label="New Logo" />

        <activity
            android:name=".seller.Update_Banner"
            android:label="New Banner" />
        <activity
            android:name=".seller.Edit_Banner"
            android:label="Edit Banner" />
        <activity android:name=".User_Mobile" />
        <activity android:name=".seller.Forget_Password" />
        <activity android:name=".seller.Purchase_Package" />
        <activity
            android:name=".seller.Profile_Update"
            android:label="Update Profile" />
        <activity
            android:name=".seller.SellerAbout_Us"
            android:label="About Us" />

        <activity android:name=".ContactUs" />
        <activity android:name=".AboutUs" />
        <activity android:name=".seller.AboutUpdate" />
        <activity
            android:name=".Search_Activity"
            android:label="Search...." />
        <activity
            android:name=".Main2Activity_2"
            android:label="@string/title_activity_main2_2"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />


    </application>

</manifest>